@use '@/assets/scss/define' as *;

page {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  background-color: #fff;
  padding: j(48) 0 j(64);
}
.logo {
  border-radius: j(16);
  width: j(100);
  height: j(100);
}
.title {
  color: #333;
  display: flex;
  align-items: center;
  font-size: j(22);
  padding: 0 j(32);
  line-height: j(30);
  margin-top: j(32);
  .strong {
    font-weight: bold;
    margin-left: j(10);
  }
}
.sub-title {
  color: #333;
  padding: 0 j(32);
  margin-top: j(10);
  line-height: j(18);
  font-size: j(13);
}
