@use '@/assets/scss/define' as *;
@use '@/assets/scss/iconfont';

page {
  box-sizing: border-box;
  background-color: $color-background;
  min-height: 100%;
}

.c-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  margin-top: auto;
  font-size: j(16);
  background-color: $color-primary;
  height: j(50);
  width: j(315);
  border-radius: j(25);
  &.disabled,
  &:disabled,
  &[disabled] {
    color: #fff !important;
    background-color: #ddd !important;
  }
  &:after {
    display: none;
  }
  &.is-mt {
    margin-top: j(48);
  }
}

.c-bar {
  height: j(10);
}

.c-placeholder {
  color: #ccc;
}
